/* use `npx postcss src/index.css -o src/output.css` to build */
/* change nodemailer firebase functions email password with `firebase functions:config:set nodemailer.password="your_password_here"
` */
/* if you change or deploy new firebase function, run `firebase deploy` */
/* use `netlify dev` to run the server */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --ff-primary: "Cuprum", sans-serif;
    --ff-header: "Amatic SC", sans-serif;
    --fz-header-900: 6rem;
    --fz-header-600: 4rem;
}

html,
body {
    line-height: 1.4;
    scroll-behavior: smooth;
    min-height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
}

.logos {
    will-change: filter;
}

.logos:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logos-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logos {
        animation: logos-spin infinite 20s linear;
    }
}

h1 {
    font-family: var(--ff-header);
    font-size: var(--fz-header-900) !important;
}

@media (max-width: 800px) {
    h1 {
        font-size: var(--fz-header-600) !important;
    }
    .py-5 {
        padding-bottom: 0!important;
        padding-top: 0!important;
    }
}

@media (max-width: 1100px) {
    .mobile-img {
        padding-left: 30px !important;
    }
}

@media (max-width: 1100px) {
    .mobile-img-flag {
        padding-left: 34px !important;
    }
}
