:root {
  --clr-primary-200: hsl(64, 100%, 64%);
  --clr-primary-300: hsl(0, 0%, 0%);
  --clr-primary-400: hsl(0, 0%, 0%);

  --clr-neutral-100: rgb(255, 249, 214);
  --clr-neutral-900: rgb(255, 255, 255);

  --ff-primary: 'Cuprum', sans-serif;
  --ff-accent: 'Cuprum', sans-serif;
  --ff-header: 'Amatic SC', sans-serif;

  --fz-primary-100: 0.6rem;
  --fz-primary-200: 0.9rem;
  --fz-primary-400: 1.2rem;
  --fz-accent-600: 2.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 440px;
  margin: 20px auto;
  padding: 20px;
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 2px;
  margin-left: 2px;
}
button:focus {
  background-color: yellow;
}

html, body {
  line-height: 1.4;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
  background-color: #0f0f0f;
  /* background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(HHwallpaper.jpg); */
  background-position: center;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

h1 {
  font-family: var(--ff-header);
  color: rgb(255, 255, 181);
}

h3 {
  color: rgb(184, 184, 184);
  font-family: var(--ff-header);
}

h4, h5 {
  color: rgb(184, 184, 184);
}

h5 {
  font-family: var(--ff-header);
}

p {
  color: white;
}

.language-selector {
  position: relative;
  top: 0.8em;
  margin-left: 0.9rem;
}
.language-flag {
  height: 1.2rem;
  width: 1.7rem;
  border-radius: 1%;
}

.logos {
  height: 1rem;
  will-change: filter;
}

.logos:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logos-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logos {
    animation: logos-spin infinite 20s linear;
  }
}

.light-grey {
  background-color: rgb(201, 201, 201);
}

.dark-grey {
  background-color: rgb(31, 31, 31);
}

.bold {
  font-weight: bold;
}
.small-text-1 {
  font-size: 18px;
}
.big-text-1 {
  font-size: 1.1rem;
}
.big-text-2 {
  font-size: 1.2rem;
}
.big-text-3 {
  font-size: 1.3rem;
}
.big-text-4 {
  font-size: 1.4rem;
}

.margin {
  margin: 1.4rem;
}

.margin-large {
  margin: 2rem;
}

.margin-top {
  margin-top: 1.2rem;
}

.huge-margin-top {
  margin-top: 200px;
}

.margin-bottom {
  margin-bottom: 1.2rem;
}

.huge-margin-bottom {
  margin-bottom: 200px;
}

.small-margin-top {
  margin-top: 1rem;
}

.extra-huge-margin-bottom {
  margin: 300px;
}

.padding {
  padding: 50px;
}

.huge-padding {
  padding: 80px;
}

.small-padding {
  padding: 25px;
}

.extra-small-padding {
  padding: 10px;
}

.huge-padding-top {
  padding-top: 150px;
}

.huge-padding-bottom {
  padding-bottom: 150px;
}

.small-width {
  width: 10px;
}

.smaller-width {
  width: 90%;
}

.even-smaller-width {
  width: 80%;
}

.really-small-width {
  width: 40%;
}

.image-small {
  width: 60px;
}

.parent-footer {
  position: relative;
  text-align: center;
}

.bottom-footer {
  position: absolute;
  bottom: 0px;
}

.contact {
  width: 50%;
}

.border-radius {
  width: 800px;
  border-radius: 5%;
}

.image-smaller {
  width: 400px;
  margin: 20px;
}

.header-logo {
  width: 4rem;
  position: relative;
  top: 1rem;
}

.custom-buttons {
  position: relative;
  top: 0.8rem;
}

.card {
  position: inherit;
}

.btn:hover {
  background-color: yellow;
  animation: glowing 1300ms infinite;
}

img:hover {
  background-color: yellow;
  animation: glowing 1300ms infinite;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(238, 255, 4);
  padding: 14px 36px;
  font-family: var(--ff-accent);
  font-size: 1.2rem;
  background: transparent;
  position: inherit;
  cursor: pointer;
  border-radius: 5px;
}
.hero-btn:hover {
  border: 1px solid yellow;
  color: black;
  background: yellow;
  transition: 1s;
}

.img-container img {
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 4px;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(75,75,75,0.5);
}

@keyframes glowing {
  0% {
    background-color: #fcf809;
    box-shadow: 0 0 5px #fcf809;
  }
  50% {
    background-color: #fcf809;
    box-shadow: 0 0 15px #fcf809;
  }
  100% {
    background-color: #fcf809;
    box-shadow: 0 0 5px #fcf809;
  }
}

hr.hr-grey {
  border: 1px solid rgb(63, 63, 63);
}

nav {
  background-color: rgb(4, 4, 4);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  position: fixed;
  opacity: 0.9;
}

nav img {
  border-radius: 40%;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

nav .fa{
  display: none;
}

@media (max-width: 900px) {
  .text-box h1 {
    font-size: 3rem;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links-2 ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: rgb(62, 26, 121);
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links-2 {
    position: fixed;
    background: rgb(62, 26, 121);
    height: 100%;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
     display: block;
     color: rgb(255, 255, 232);
     margin: 0.5rem;
     margin-top: 2rem;
     font-size: 22px;
     cursor: pointer;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .nav-links-2 ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .icons-header .fa {
      margin-bottom: 115px;
  }

  nav img {
      margin-left: 5px;
      border-radius: 100%;
  }

  .custom-buttons {
    font-size: 0.74rem;
    position: relative;
    top: 0.2rem;
  }
}

.icons {
  display: block;
  background-color: rgba(0, 0, 0, 0)
}

.icons .fa {
  color:var(--clr-neutral-100);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 30px;
}

.header-icons {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.icons-header .fa {
  color: var(--clr-neutral-100);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 30px;
  position: relative;
  bottom: 120px;
  text-align: center;
}

.fa-facebook:hover {
  color: rgb(0, 68, 255);
  transition: 0.5s;
}
.fa-twitter:hover {
  color: yellow;
  transition: 0.5s;
}
.fa-instagram:hover {
  color: rgb(132, 0, 255);
  transition: 0.5s;
}

.product-image {
  width: 30%;
  margin: 40px auto -20px;
  display: block;
  position: relative;
  top: -20px;
  border-radius: 100%;
}

.smaller-text {
  font-size: 12px;
}
